.logo{
    font-weight: bold;
    color: paleturquoise;
    font-size: xxx-large;
    font-family: cursive;
    text-align: center;
    border-bottom: 5px solid rgb(116,184,116);
    background-color: rgb(0, 0, 0);
}